
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>性别统计</title>
    <script src='@Url.Content("~/Scripts/jquery-1.7.1.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/hightcharts/highcharts.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/hightcharts/highcharts-3d.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/hightcharts/exporting.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/hightcharts/highcharts-zh_CN.js")' type="text/javascript"></script>


</head>
<body>
    <div id="container" style="min-width: 400px; height: 400px">
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '@Url.Action("GetXBTJ", "TJTB")',
                type: 'get',
                success: function (result) {
                    var data = eval('(' + result + ')');
                    $('#container').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '退休人员性别比例'
                        },
                        tooltip: {
                            headerFormat: '{series.name}<br>',
                            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '退休人员性别比例',
                            data: data
                        }]
                    });
                }
            });
        });
    </script>
</body>
</html>




